<nav class="navbar bg-primary" >
  <div class="container-fluid">

    <button type="button" class="btn btn-light" routerLink="/dashboard"><i class="bi bi-house-door-fill"></i></button>
    <a class="navbar-brand" href="#" style="color: white">Guia de estudio teórico práctico para Angular</a>
    
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      <button type="button" class="btn btn-light">Buscar</button>
    </form>
    
  </div>
</nav>
